examples/string
examples/regex
examples/pool
examples/temp
examples/version
examples/parse
examples/array
*.a
GTAGS
GRTAGS
GSYMS
GPATH
.sconsign.dblite
work
src/auto/ngx_auto_config.h
src/auto/ngx_auto_headers.h
